<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido al registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="home"><ion-button slot="end" size="small" color=""><ion-icon slot="start" name="arrow-back"></ion-icon>Volver</ion-button></a>


  <br>
  <br>
  <br>
  <form [formGroup]="formularioregistro">
    <h5>RegistrAPP</h5>
    <img style="width: 215px;" src="assets/img/2.png" alt="">
    <ion-item>
      <ion-label position="floating">usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input formControlName="confirmarpassword" type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="guardar()">
      Registrarse
    </ion-button>
    <br>
  </form>
</ion-content>
