<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:start;">Pagina principal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <a href="home"><ion-button size="small" color="danger">Cerrar sesion</ion-button></a>
  <br>
  <br>
  <h4>Bienvenido</h4>
  <a href="cuartapagina"><ion-button expand="block">Escanear codigo</ion-button></a>
  
  <br>
  <h5 style="text-align:center;">Seleccione fecha</h5>
  <br>
  <ion-datetime style="height: 50;"></ion-datetime>
  <div ><a href="segundapagina"><ion-button shape="round" fill="outline">Registrar asistencias manualmente</ion-button></a></div>
</ion-content>